@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Muttia";
  src: url("src/assets/fonts/Muttia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
